<div class="d-flex flex-wrap">
  <% post_saunas.each do |post_sauna| %>
    <div class="card" style="width: 26rem;">
      <%= image_tag post_sauna.get_image, height: "300px" %>
      <div class="card-body">
        <h5 class="card-title"><%= link_to post_sauna.name, admin_post_sauna_path(post_sauna)%></h5>
        <p class="card-text">感想：<%= post_sauna.impression %></p>
        <% if post_sauna.score < 0 %>
          <i class="fa-solid fa-chart-simple text-warning">
            <span class="sentiment-score">[<%= post_sauna.score %>]</span>
          </i>
        <% elsif post_sauna.score > 0 %>
          <i class="fa-solid fa-chart-simple text-success">
            <span class="sentiment-score">[<%= post_sauna.score %>]</span>
          </i>
        <% else %>
          <i class="fa-solid fa-chart-simple text-secondary">
            <span class="sentiment-score">[<%= post_sauna.score %>]</span>
          </i>
        <% end %>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">所在地：<%= post_sauna.address %></li>
        <li class="list-group-item">利用料金：<%= post_sauna.price %>円</li>
        <li class="list-group-item">カテゴリー：<%=link_to post_sauna.category,admin_tagsearches_search_path(content: post_sauna.category)%></li>
        <li class="list-group-item">評価：<%= render "public/post_saunas/static.rate", post_sauna: post_sauna %></li>
      </ul>
      <div class="card-body">
        <div>投稿ユーザー画像：<%= image_tag post_sauna.user.get_profile_image(100,100), class: "mt-3 rounded-circle"; %></div>
        <p>ユーザーネーム：<%= link_to post_sauna.user.name, admin_user_path(post_sauna.user.id) %></p>
        <span><%= link_to "コメント数：#{post_sauna.post_comments.count}", admin_post_sauna_path(post_sauna.id) %></span>
      </div>
    </div>
  <% end %>
</div>
<%= paginate post_saunas %>