<div class="containar">
  <div class="row">

    <div class="col-md-3">
      <%= render 'public/users/info', user: @user %>
    </div>

    <div class="col-md-9">
      <h2>サウナ詳細</h2>
      <div class="card" style="width: 50rem;">
        <%= image_tag @post_sauna.get_image %>
        <div class="card-body">
          <h5 class="card-title"><%= @post_sauna.name %></h5>
          <p class="card-text">感想：<%= @post_sauna.impression %></p>
          <p class="card-text">投稿日：<%= @post_sauna.created_at.strftime('%Y/%m/%d') %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">所在地：<%= @post_sauna.address %></li>
          <li class="list-group-item">利用料金：<%= @post_sauna.price %>円</li>
          <li class="list-group-item">カテゴリー：<%= link_to @post_sauna.category, tagsearches_search_path(content:@post_sauna.category)%></li>
          <li class="list-group-item">評価：<%= render "static.rate", post_sauna: @post_sauna %></li>
        </ul>
        <div class="card-body">
          <div class="d-flex">
            <div id="favorited_buttons_<%= @post_sauna.id %>">
              <%= render "public/favorites/favorite", post_sauna: @post_sauna %>
            </div>
            <div id="comment_counter">
              <%= render "public/post_comments/counter", post_sauna: @post_sauna %>
            </div>
          </div>
          <div id="comment_index">
            <%= render "public/post_comments/index", post_sauna: @post_sauna %>
          </div>
          <div>
            <%= render "public/post_comments/form", post_sauna: @post_sauna, post_comment: @post_comment %>
          </div>
          <div class="d-flex pt-3">
            <% if @post_sauna.user == current_user %>
              <p><%= link_to "サウナ情報編集", edit_post_sauna_path, class:"btn btn-warning" %></p>
            <% end %>
            <% if @post_sauna.user == current_user %>
              <p class="mx-3"><%= link_to "投稿削除", post_sauna_path(@post_sauna), method: :delete, data: {confirm: "投稿を削除しますか？"}, class:"btn btn-danger" %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
