<div class="containar">
  <div class="row">

    <div class="col-md-3">
      <%= render 'public/users/info', user: @user %>
    </div>

    <div class="col-md-9">
      <h4>サウナ詳細</h4>
      <div class="card" style="width: 50rem;">
        <%= image_tag @post_sauna.get_image %>
        <div class="card-body">
          <h5 class="card-title"><%= @post_sauna.name %></h5>
          <p class="card-text">感想：<%= @post_sauna.impression %></p>
          <p class="card-text">投稿日：<%= @post_sauna.created_at.strftime('%Y/%m/%d') %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">所在地：<%= @post_sauna.address %></li>
          <li class="list-group-item">利用料金：<%= @post_sauna.price %>円</li>
          <li class="list-group-item">カテゴリー：<%= link_to @post_sauna.category, tagsearches_search_path(content:@post_sauna.category)%></li>
          <li class="list-group-item">評価：<%= render "static.rate", post_sauna: @post_sauna %></li>
        </ul>
        <div class="card-body">
          <div class="d-flex">
            <% if @post_sauna.favorited_by?(current_user) %>
              <p class="px-2">
                <%= link_to post_sauna_favorite_path(@post_sauna), method: :delete do %>
                  ♥<%= @post_sauna.favorites.count %> いいね
                <% end %>
              </p>
            <% else %>
              <p class="px-2">
                <%= link_to post_sauna_favorite_path(@post_sauna), method: :post do %>
                  ♡<%= @post_sauna.favorites.count %> いいね
                <% end %>
              </p>
            <% end %>
            <p class="px-2">コメント数：<%= @post_sauna.post_comments.count %></p>
          </div>
          <% @post_sauna.post_comments.each do |post_comment| %>
            <div class="d-flex">
                <div class="pe-3">
                  <%= image_tag post_comment.user.get_profile_image(100,100) %>
                  <p><%= link_to post_comment.user.name, user_path(post_comment.user.id) %></p>
                </div>
                <div class="pt-4 px-3">
                  <p><%= post_comment.comment %></p>
                  <p>コメント日時：<%= post_comment.created_at.strftime('%Y/%m/%d') %></p>
                </div>
                <div class="pt-4 px-3">
                  <% if post_comment.user == current_user %>
                    <%= link_to "コメント削除", post_sauna_post_comment_path(post_comment.post_sauna, post_comment), method: :delete %>
                  <% end %>
                </div>
            </div>
          <% end %>
          <div>
            <%= form_with model: [@post_sauna, @post_comment] do |f| %>
              <%= f.text_area :comment, size: "50x5", placeholder: "コメントをここに" %>
              <%= f.submit "送信する" %>
            <% end %>
          </div>
          <div class="d-flex pt-3">
            <% if @post_sauna.user == current_user %>
              <p><%= link_to "サウナ情報編集", edit_post_sauna_path, class:"btn btn-success" %></p>
            <% end %>
            <% if @post_sauna.user == current_user %>
              <p class="mx-3"><%= link_to "投稿削除", post_sauna_path(@post_sauna), method: :delete, class:"btn btn-success" %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
