<% post_sauna.post_comments.each do |post_comment| %>
  <div class="d-flex">
    <div class="pe-3">
      <%= image_tag post_comment.user.get_profile_image(100,100) %>
      <p><%= link_to post_comment.user.name, user_path(post_comment.user.id), remote: true, data: {"turbolinks" => false} %></p>
    </div>
    <div class="pt-4 px-3">
      <p><%= post_comment.comment %></p>
      <p>コメント日時：<%= post_comment.created_at.strftime('%Y/%m/%d') %></p>
    </div>
    <div class="pt-5 px-3">
      <% if post_comment.user == current_user %>
        <%= link_to "コメント削除", post_sauna_post_comment_path(post_comment.post_sauna, post_comment), method: :delete, data: {confirm: "コメントを削除しますか？"}, class:"btn btn-danger", remote: true, data: {"turbolinks" => false} %>
      <% end %>
    </div>
  </div>
<% end %>