<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center mb-4">ログイン</h2>
          <%= form_with model: @user, url: new_user_session_path do |f| %>
            <div class="form-group">
              <%= f.label :メールアドレス, class: 'form-label' %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :パスワード, class: 'form-label' %>
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </div>

            <div class="form-group mt-4">
              <%= f.submit "ログイン", class: "btn btn-primary btn-block" %>
            </div>
          <% end %>

          <p class="text-center mt-3">新規登録がお済みではない方は</p>
          <div class="text-center">
            <%= render "public/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>