<table class="table">
  <thead>
    <tr noWrap>
      <th></th>
      <th>ユーザーネーム</th>
      <th></th>
      <th>お気に入りドリンク</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% users.each do |user| %>
    <tbody>
      <tr noWrap>
        <td><%= image_tag user.get_profile_image(100,100) %></td>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= image_tag user.get_favorite_drink_image(100,100) %></td>
        <td><%= user.favorite_drink %></td>
        <td>
          フォロー数：<%= link_to user.followings.count, user_followings_path(user) %><br>
          フォロワー数：<%= link_to user.followers.count, user_followers_path(user)%>
        </td>
        <td><%= render "public/relationships/btn", user: user, options: { class: "btn btn-primary" } %></td>
      </tr>
    </tbody>
  <% end %>
</table>
<%= paginate users %>