<div class="container">
  <div class="row">

    <div class="col-md-3">
      <%= render 'info', user: @user %>
    </div>

    <div class="col-md-9">
      <h2><%= @user.name %>のサウナ一覧</h2>
      <div class="d-flex flex-wrap">
        <% if @post_saunas.exists? %>
          <% @post_saunas.each do |post_sauna| %>
            <div class="card" style="width: 19rem;">
              <%= image_tag post_sauna.get_image %>
              <div class="card-body">
                <h5 class="card-title"><%= link_to post_sauna.name, post_sauna_path(post_sauna)%></h5>
                <p class="card-text">感想：<%= post_sauna.impression %></p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">所在地：<%= post_sauna.address %></li>
                <li class="list-group-item">利用料金：<%= post_sauna.price %>円</li>
                <li class="list-group-item">カテゴリー：<%=link_to post_sauna.category,tagsearches_search_path(content: post_sauna.category)%></li>
                <li class="list-group-item">評価：<%= render "public/post_saunas/static.rate", post_sauna: post_sauna %></li>
              </ul>
              <div class="card-body d-flex">
                <div id="favorited_buttons_<%= post_sauna.id %>">
                  <%= render "public/favorites/favorite", post_sauna: post_sauna %>
                </div>
                <div id="comment_counter">
                  <%= render "public/post_comments/counter", post_sauna: post_sauna %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>※投稿はまだありません<p>
        <% end %>
      </div>
      <%= paginate @post_saunas %>
    </div>

  </div>
</div>
